@{
    ViewBag.Title = "About Christmas Planner";
}
<style type="text/css">
    body {
        background-image: url('../../Content/Images/Santa-Claus-1920x1080-Christmas-Image.jpg');
        margin: auto;
        background-repeat: no-repeat;
        /*  animation-name: colorful;
        animation-duration: 4s;
        animation-iteration-count: infinite;*/
    }

    /*@@keyframes colorful {
        20% {
            transform: scale(0.5);
        }
    }*/
    /*.jumbotron {
        font-size: xx-large;
        font-weight: bold;
        font-style: italic;
        color: darkred;
    }*/
    .color {
        color: darkred;
        font-weight: bold;
        font-style: italic;
        font-size: xx-large;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 20%;
        text-align: center;
        color: darkgreen;
    }
</style>
<div class="color">
    <h2>@ViewBag.Title</h2>
    @*<h3>@ViewBag.Message</h3>*@

    <p>Christmas Planner is an app designed to make the holiday season less stressful by keeping track of gift buying and card sending for you! To get started, simply enter the names of the people for whom you need to buy a gift. Click the <span style="color: darkgreen">Let's Go</span> button below to get started.</p>
    @Html.ActionLink("Let's Go", "Index", "Person", null, new { @class = "btn btn-primary btn-large " })
</div>
