@{
    ViewBag.Title = "Christmas Planner";
}
<style type="text/css">
    body {
        background-color: palegreen;
        background-size: cover;
        /*margin: auto;
        background-repeat: no-repeat;
          animation-name: colorful;
        animation-duration: 4s;
        animation-iteration-count: infinite;*/
    }

    /*@@keyframes colorful {
        20% {
            transform: scale(0.5);
        }
    }*/
    /*.jumbotron {
        font-size: xx-large;
        font-weight: bold;
        font-style: italic;
        color: darkred;
    }*/
    .color {
        color: darkred;
        font-weight: bold;
        font-style: italic;
        font-size: xx-large;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 20%;
        text-align: center;
        color: darkgreen;
    }
</style>
<div class="color">
    <h2>@ViewBag.Title</h2>
    @*<h3>@ViewBag.Message</h3>*@

<p>is an app designed to make the holiday season less stressful by keeping track of gift buying and card sending for you! You simply enter the names of everyone you need to buy a gift for OR send a card to. Then, as you buy gifts, you can enter the gift you bought OR simply check off that you have bought that person a gift OR sent that person a card. Click the 'Let's Go' button below to get started entering names!</p>
    
    @Html.ActionLink("Let's Go", "Index", "Person", null, new { @class = "btn btn-primary btn-large " })
</div>
