@{
    ViewBag.Title = "Contact";
}

<style type="text/css">
    body {
        background-image: url('../../Content/Images/merry_christmas_abstract-1920x1080.jpg');
        margin: auto;
        background-repeat: no-repeat;
        /*  animation-name: colorful;
        animation-duration: 4s;
        animation-iteration-count: infinite;*/
    }

    /*@@keyframes colorful {
        20% {
            transform: scale(0.5);
        }
    }*/
    /*.jumbotron {
        font-size: xx-large;
        font-weight: bold;
        font-style: italic;
        color: darkred;
    }*/
    .color {
        color: darkred;
        font-weight: bold;
        font-style: italic;
        font-size: xx-large;
    }
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 20%;
        text-align: center;
        color: darkgreen;
    }
</style>
<div class= "color">
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@



<address>
    Betsy Hollis<br />
    Greenfield, Indiana 46140-8004<br/>
    <abbr title="Phone">P:</abbr>
    317.407.6373
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Betsy.Hollis1@gmail.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>
</div>
