@{
    ViewBag.Title = "Home Page";
}
<style type="text/css">
    body {
        background-image: url('../../Content/Images/457764-best-cute-christmas-desktop-backgrounds-1920x1080-windows-10.jpg');
        margin: auto;
        background-repeat: no-repeat;
      /*  animation-name: colorful;
        animation-duration: 4s;
        animation-iteration-count: infinite;*/
    }

    /*@@keyframes colorful {
        20% {
            transform: scale(0.5);
        }
    }*/
    .jumbotron {
        font-size: xx-large;
        font-weight: bold;
        font-style: italic;
        color: darkred;
    }
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 20%;
        text-align: center;
        color: darkgreen;
    }
</style>


<div class="jumbotron">
    <h1>Christmas Planner</h1>
    <p class="lead">A free app to help you keep organized during the holiday season.</p>
    @Html.ActionLink("Learn More", "About", "Home", null, new { @class = "btn btn-primary btn-large " })
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Simply enter the names of everyone you need to buy a gift for. Then, enter a list of gift ideas, or enter the gifts as you guy them and apply them to the person you are giving them to. Click the button below to get started!
        </p>
        @Html.ActionLink("Christmas Planner", "Index", "Person", null, new { @class = "btn btn-primary btn-large " })

    </div>
    <div class="col-md-4">
        <h2>Card Feature</h2>
        <p>Christmas Planner will also keep track of who you need to send a card to and who you have already sent a card to.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Additional Features</h2>
        <p>Keep checking back as additional features will be added such as Birthday Feature!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@