@{
    ViewBag.Title = "Home Page";
}


<style type="text/css">
    #myVideo {
        position: fixed;
        right: 0;
        min-height: 100%;
        min-width: 100%
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 20%;
        text-align: center;
        color: darkgreen;
    }
</style>


<div class="content">
    <div style="text-align: left; width: 100%; z-index: 1;">

            @Html.ActionLink("Learn More", "About", "Home", null, new { @class = "btn btn-primary btn-xx-large " })
        
    </div>
</div>
<video autoplay muted loop id="myVideo">
    <source src="~/Content/Images/christmas-tree-background-full-hd-436134.mp4" type="video/mp4">
</video>

