@{
    ViewBag.Title = "Home Page";
}


<style type="text/css">
    body {
        background-color: red;
        background-size: cover;
        text-align: center;
    }
    /*#myVideo {
        position: fixed;
        right: 0;
        max-width: 100%;
        height: auto;
       
    }*/

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 20%;
        text-align: center;
        color: darkgreen;
    }
    
</style>
<p><span style="color: yellow; font-size: 1000%;">Christmas Planner</span></p>


<div class="content">
    <div style="text-align: center; width: 100%; z-index: 1;">

            @Html.ActionLink("Learn More", "About", "Home", null, new { @class = "btn btn-primary btn-xx-large " })
        
    </div>
</div>
@*<video autoplay muted loop id="myVideo">
    <source src="~/Content/Images/Ornaments.mp4" type="video/mp4">
</video>*@

